<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
        rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login_form.css" />
    <style>
        body {
          font-family: 'Montserrat', sans-serif;
          background-image:url("{{ STATIC_URL }}/img/rsz_coctail-background-jpg.png");
          background-repeat:no-repeat;
          background-position:right top;
          margin-right:-200px;
         }
    </style>
</head>

<body>
    <h2>
        <div class="row">
            <div class="large-7 columns">
                <form action="/login/" method="post">
                {% csrf_token %}
                    <legend><h1>Login for users</h1></legend>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="fieldWrapper">
                                <label><h1>Username:</h1></label>
                                {{ form.username }}
                            </div>
                            {# <small class="error">Invalid entry</small> #}
                        </div>
                   </div>
                   <div class="row">
                        <div class="large-12 columns">
                            <div class="fieldWrapper">
                                <label><h1>Email:</h1></label>
                                {{ form.email }}
                            </div>
                            {# <small class="error">Invalid entry</small> #}
                        </div>
                   </div>
                   <div class="row">
                        <div class="large-12 columns">
                            <div class="fieldWrapper">
                                <label><h1>Password:</h1></label>
                                {{ form.password }}
                            </div>
                            {# <small class="error">Invalid entry</small> #}
                        </div>
                   </div>
                   <h4>
                       <input type="submit" name="submit"
                           class="btn btn-success btn-lg" value="Login in the bar"/>
                   </h4>
                   </fieldset>
               </form>
            </div>
        </div>
    </h2>
</body>
</html>
